html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: antiquewhite;
    overflow-x: hidden;
}
h1{
    color: chocolate;
}
.button{
    padding: 20px;
    width: 65px;
    margin: 0 3px;
    border:2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.button{
    transition: transform .2s ease;
}
.button:hover{
    transform: scale(1.1);
    background-color: chocolate;
    color: blue;
    
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 13px;
    color: blue;
    padding: 10px 0;
    margin: 0;
    border: 2px solid black;
    border-radius: 5px;
}